.head {
	background-color: #87CEEB;
	width: 1100px;
	margin: 0 auto;
	height: 70px;
	margin-top: 30px;
}
.div1 {
	width: 400px;
	height: 200px;
	font-size: 16px;
	background-color: #FFFFFF;
	margin-top: 6%;
	margin-left: 35%;
}
.td1 {
	text-align: right;
}
.input_text {
	height: 25px;
}
.buttom {
	height: 30px;
	width: 70px;
}
